*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-container{
    max-width: 1500px;
    margin: auto;
}
[class *= my-box]{
    color: white;
    text-align: center;
    line-height: 75px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: lightblue;
    vertical-align: middle;
}
.my-box-3{
    background-color: rgb(218, 218, 44);
}
.my-box-5{
    background-color: red;
}
.my-box-3-5{
    background-color: green;
}